<html>

<head>
  <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="akjl1mileaft6w1"></script>

  <link href="{{url_for('static', filename='css/iconFont.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/metro-bootstrap.css') }}" rel="stylesheet" >
  <link href="{{url_for('static', filename='css/metro-bootstrap-responsive.css') }}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/bootstrap-slider.css') }}" rel="stylesheet">
  <script src="{{url_for('static', filename='js/jquery/jquery-2.1.3.js') }}"></script>
  <script src="{{url_for('static', filename='js/jquery/jquery.widget.min.js') }}"></script>
  <script src="{{url_for('static', filename='js/metro/metro.min.js') }}"></script>
  <script src="{{url_for('static', filename='js/bootstrap/bootstrap-slider.js') }}"></script>
</head>

<body>
  <script>
  // basic functions.
  function write_cloud_logo(name) {
    if(name == "dropbox") {
      document.write("<img src={{url_for('static', filename='img/dropbox.png')}} width='32px'></img>");
    }
  }

  function toggle_element(id) {
    if($(id).css('display') == 'none') {
      toggle_on(id);
    }else{
      toggle_off(id);
    }
  }

  function toggle_on(id) {
    if($(id).css('display') == 'none') {
      $(id).slideDown('slow');
      // $(id).css('display', 'block');
    }
  }

  function toggle_off(id) {
    if($(id).css('display') == 'block') {
      $(id).slideUp('slow');
      // $(id).css('display', 'none');
    }
  }
  </script>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Programer View</div>
    <div class="panel-body">
      <p>Choose and mount resources.</p>
    </div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <td>Cloud</td>
          <td>From</td>
          <td>To</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        {%for id in range(mounts|count)%}
        <tr>
          <td>
            <script>write_cloud_logo("dropbox")</script>
          </td>
          <td>
            <ul>
            {%for i in range(mounts[id].names|count)%}
              <li><a href="{{mounts[id].links[i]}}">{{mounts[id].names[i]}}</a></li>
            {%endfor%}
            </ul>
          </td>
          <td>
            {{mounts[id].path}}
          </td>
          <td>
            <a class="btn btn-danger" type="button" href="javascript:delete_mount({{id}});">Delete</a>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>

  <br><button type="button" class="btn btn-default btn-lg" onclick="javascript:toggle_element('#container')">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Mount
  </button>

  <div id="container" style="display:none;">
    <table class="table">
      <thead>
        <tr>
          <td>Cloud</td>
          <td>From</td>
          <td>To</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <td style="width: 25%">
          <div id="choser">
          </div>
        </td>
        <td style="width: 25%">
          <ul class="list-group" id="new_names">
          </ul>
        </td>
        <td style="width: 25%">
          <input type="text" class="form-control" id="mount_dir">
        </td>
        <td>
          <button type="button" class="btn btn-default btn-lg" onclick="javascript:create_mount();">
            Create
          </button>
        </td>
      </tbody>
    </table>    
  </div>
  <script>
      options = {
        // Required. Called when a user selects an item in the Chooser.
        success: function(files) {
          new_links = [];
          new_names = [];
          for(var i = 0; i < files.length; i++) {
            new_links.push(files[i].link);
            new_names.push(files[i].name);
            $('#new_names').append('<li class="list-group-item">'+files[i].name+'</li>')
          }
        },

        // Optional. Called when the user closes the dialog without selecting a file
        // and does not include any parameters.
        cancel: function() {

        },

        // Optional. "preview" (default) is a preview link to the document for sharing,
        // "direct" is an expiring link to download the contents of the file. For more
        // information about link types, see Link types below.
        linkType: "preview", // or "direct"
        multiselect: true
    };


    function create_mount() {
      var mount_dir = $('#mount_dir').val();
      console.log('mount_dir = ' + mount_dir);
      console.log('names = ' + new_names);
      console.log('links = ' + new_links);
      $.post('/create_mount', {dir: JSON.stringify(mount_dir),
                            names: JSON.stringify(new_names),
                            links: JSON.stringify(new_links)
        }).done(function(data) {
        if(data.status == 'ok') {
          location.reload();
        }
      });
    }

    function delete_mount(i) {
      $.post('/delete_mount', {id: JSON.stringify(i)}).done(function(data) {
        console.log(data);
        if(data.status == 'ok') {
          location.reload();
        }
      });
    }

    var button = Dropbox.createChooseButton(options);
    document.getElementById("choser").appendChild(button);
  </script>
</body>


</html>
